.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Espace entre les éléments */
  padding: 20px;
  background-color: #333;
  color: #ccc;
}

.footer-links a {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-links a:hover {
  text-decoration: underline;
}

.instagram-icon {
  width: 30px;
  height: 30px;
}

.footer-copyright {
  margin: 0;
  font-size: 0.9rem;
}