html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --picstronaute-purple: #4b0082;
  --picstronaute-green: #2ecc71;
  --picstronaute-white: #ffffff;
  --picstronaute-grey: #f4f4f4;
  --picstronaute-text-color: #333;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: var(--picstronaute-text-color);
  background-color: var(--picstronaute-white);
  line-height: 1.6;
}

/* Conteneur principal */
.landing-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Conteneur du contenu */
.main-content {
  flex-grow: 1;
  width: 100%;
  margin: 0 auto;
}

/* Styles des sections */
.section {
  padding: 20px 20px;
}

/* Style de l'en-tête (Header) */
.main-header {
  background-color: var(--picstronaute-purple);
  color: var(--picstronaute-white);
  padding: 20px;
  text-align: center;
}

.main-header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.main-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.main-header nav a {
  color: var(--picstronaute-white);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.main-header nav a:hover {
  color: var(--picstronaute-green);
}

/* Style de la section "Héros" */
.hero-section {
  padding: 100px 20px;
  text-align: center;
  background-image: url("/images/fondHP.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-section p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 30px;
}

/* Styles des colonnes du héros */
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero-text-column {
  flex: 0.6;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);  
  padding: 40px 0px;
  margin: 20px;
  margin-top: 60px;
  border-radius: 20px;
}

.hero-image-column {
  flex: 0.4;
}

.hero-image {
  max-width: 200px;
  height: auto;
}

.cta-button {
  background-color: var(--picstronaute-green);
  color: var(--picstronaute-white);
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #27ae60;
}

/* Style de la section des fonctionnalités */
.features-section {
  background-color: var(--picstronaute-grey);
  padding: 20px 20px;
  text-align: center;
}

.features-section h3 {
  font-size: 2rem;
  color: var(--picstronaute-purple);
  margin: 10px;
}

.features-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.feature-item {
  flex: 1 1 40px;
  margin: 20px auto;
  background-color: #7500FF;
  color: #ffffff;
  border-radius: 20px;
}

.feature-item-bouger,
.feature-item-explorer,
.feature-item-capturer,
.feature-item-defier {
  flex: 1 1 300px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligne le H4 en haut et le P en bas */
  color: var(--picstronaute-white);
  text-align: left;
  position: relative; /* Nécessaire pour les superpositions */
  overflow: hidden; /* Cache le débordement de l'image de fond */
}

/* Création d'une surcouche pour assombrir l'image de fond */
.feature-item-bouger::before,
.feature-item-explorer::before,
.feature-item-capturer::before,
.feature-item-defier::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Couleur sombre semi-transparente */
  border-radius: 20px; /* Assurez-vous que la surcouche a aussi des bords arrondis */
}

/* Positionne le texte au-dessus de la surcouche */
.feature-item-bouger h4, .feature-item-bouger p,
.feature-item-explorer h4, .feature-item-explorer p,
.feature-item-capturer h4, .feature-item-capturer p,
.feature-item-defier h4, .feature-item-defier p {
  position: relative;
  z-index: 1; /* Assurez-vous que le texte est au-dessus de la surcouche */
}

.feature-item-bouger h4,
.feature-item-explorer h4,
.feature-item-capturer h4,
.feature-item-defier h4 {
  font-size: 1.5rem;
  color: var(--picstronaute-white);
  margin-top: 0; /* Réinitialise la marge supérieure par défaut */
  margin-bottom: auto; /* Pousse les h4 vers le haut */
}

.feature-item-bouger p,
.feature-item-explorer p,
.feature-item-capturer p,
.feature-item-defier p {
  color: var(--picstronaute-white);
  padding: 10px 0; /* Ajuste le padding si nécessaire */
  margin-bottom: 0; /* Réinitialise la marge inférieure par défaut */
}

/* Styles pour les images de fond spécifiques */
.feature-item-bouger {
  background-image: url('/images/bouger.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.feature-item-explorer {
  background-image: url('/images/explorer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.feature-item-capturer {
  background-image: url('/images/capturer.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.feature-item-defier {
  background-image: url('/images/defier.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.feature-item h4 {
  font-size: 1.5rem;
  color: var(--picstronaute-green);
}

/* Styles de la nouvelle section "challenges" */
.feature-challenge {
  padding: 10px 20px;
  text-align: center;
  background-color: var(--picstronaute-white);
}

.instagram-challenges-section {
  padding: 10px 20px;
  text-align: center;
}

.challenges-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
}

.challenge-card {
  display: inline-block;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.challenge-card img {
  width: 100%;
  height: auto;
  display: block;
}

.instagram-button {
  margin: 30px 0px;
}

.cta-button instagram-button {
  text-align: center;
}

/* Style du pied de page */
.main-footer {
  background-color: var(--picstronaute-purple);
  color: var(--picstronaute-white);
  padding: 20px;
  text-align: center;
}

.main-footer a {
  color: var(--picstronaute-green);
  text-decoration: none;
  font-weight: bold;
}

/* MEDIA QUERIES POUR MOBILE */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .main-header h1 {
    margin-bottom: 10px;
  }
  
  .main-header nav ul {
    flex-direction: column;
    gap: 10px;
  }
  
  .hero-section {
    padding: 60px 20px;
  }
  
  .hero-section h2 {
    font-size: 2rem;
  }
  
  .hero-content {
    flex-direction: column;
  }
  
  .features-container {
    flex-direction: column;
  }
}
